.text{
    margin-left: 40%;
    margin-top: 20px;
}
  
  .container{
    text-align: center;
    margin-left: 500px;
  }
  .toolbar{
    padding-left: 40%;
  }
  
  .image{
    padding-left: 40%;
  }
  .tabs{
    padding-left: 20%;

  }